@keyframes fade-up-aa4e16d8 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-aa4e16d8 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.hashtag[data-v-aa4e16d8] {
  font: var(--font-h3);
}
.empty[data-v-aa4e16d8] {
  margin: 0;
}