@keyframes fade-up-3de6c733 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-3de6c733 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.name[data-v-3de6c733] {
  font: var(--font-h4);
  color: var(--dark-500);
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 0.5px var(--white-90);
  text-stroke: 0.5px var(--white-90);
}
.name.invert[data-v-3de6c733] {
  color: var(--white-500);
  -webkit-text-stroke: 0.5px var(--dark-90);
  text-stroke: 0.5px var(--dark-90);
}
.buttons[data-v-3de6c733] {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}