@keyframes fade-up-0e3a8df9 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-0e3a8df9 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.name[data-v-0e3a8df9] {
  font: var(--font-h4);
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.buttons[data-v-0e3a8df9] {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.buttons button[data-v-0e3a8df9] {
  min-width: 132px;
}
.empty[data-v-0e3a8df9] {
  margin: auto;
  min-height: 100px;
}