@keyframes fade-up-f35ca04f {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-f35ca04f {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-f35ca04f] {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-f35ca04f] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-track, .items-list[data-v-f35ca04f]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-f35ca04f]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .items[data-v-f35ca04f] {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-f35ca04f] {
  padding: 0 16px;
}
.items-list .loader[data-v-f35ca04f] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-f35ca04f] {
  flex-shrink: 0;
}
.items-list[data-v-f35ca04f] {
  gap: 8px;
}
.items-list .items[data-v-f35ca04f] {
  padding: 0;
  gap: 0;
}
.items-list .items > li[data-v-f35ca04f] {
  padding-top: 4px;
  padding-bottom: 4px;
}
.items-list .items > li.active[data-v-f35ca04f] {
  background: var(--light-20);
}
.slider-box[data-v-f35ca04f] {
  width: 100%;
  overflow: hidden;
}
.slider-box .slider[data-v-f35ca04f] {
  padding: 0px 16px;
  scroll-padding-left: 16px;
  scroll-padding-right: 16px;
}
.slider-box.with-pseudo .slider[data-v-f35ca04f]:after, .slider-box.with-pseudo .slider[data-v-f35ca04f]:before {
  content: "";
  width: var(--slider-pseudo-width);
  flex-shrink: 0;
  display: flex;
}
.slider-box .loader[data-v-f35ca04f] {
  margin: auto;
}
.block[data-v-f35ca04f] {
  padding: 0 0 var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  justify-content: start;
}
.block .title[data-v-f35ca04f] {
  padding: 0 16px;
}
.block.inline .title[data-v-f35ca04f] {
  padding: 0;
}
.block.inline .items-list .items > li[data-v-f35ca04f] {
  padding: 0;
}
.block.inline .slider-box .slider[data-v-f35ca04f] {
  padding: 0;
}
.direction-rtl .items-list .items > li[data-v-f35ca04f] {
  padding-right: 16px;
  padding-left: 0;
}