@keyframes fade-up-5ed6b474 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-5ed6b474 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.artist[data-v-5ed6b474] {
  font: var(--font-caption);
  color: var(--gray-500);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  mask-image: linear-gradient(to right, black 90%, transparent 100%);
  width: 100%;
}
.direction-rtl .artist[data-v-5ed6b474] {
  mask-image: linear-gradient(to left, black 90%, transparent 100%);
}