@keyframes fade-up-e396b6b4 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-e396b6b4 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.dictionary[data-v-e396b6b4] {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dictionary .welcome[data-v-e396b6b4] {
  height: 384px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.dictionary .welcome[data-v-e396b6b4]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--white-0) 68%, var(--white-500) 100%);
  pointer-events: none;
}
.dictionary .wrapper[data-v-e396b6b4] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
  z-index: 1;
}
.dictionary .wrapper .title[data-v-e396b6b4] {
  font: var(--font-h5);
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.dictionary .wrapper .buttons[data-v-e396b6b4] {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.dictionary .wrapper .buttons button[data-v-e396b6b4] {
  min-width: 132px;
}
.dictionary .empty[data-v-e396b6b4] {
  margin: auto;
}