@keyframes fade-up-c12e8184 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c12e8184 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.dicts[data-v-c12e8184] {
  padding: 0 0 var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  justify-content: start;
}
.dicts > div[data-v-c12e8184] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}