@keyframes fade-up-dc3bfdad {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-dc3bfdad {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.head[data-v-dc3bfdad] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 2px 0 16px;
  height: 50px;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
}
.head .title[data-v-dc3bfdad] {
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  padding: 0;
  margin-bottom: 0;
  margin-top: 2px;
}
.more[data-v-dc3bfdad] {
  padding: 0 16px var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  justify-content: start;
}
.more .title[data-v-dc3bfdad] {
  font: var(--font-h6);
  font-weight: bold;
  color: var(--dark-500);
}
.more > div[data-v-dc3bfdad] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.more > div button[data-v-dc3bfdad] {
  flex: 1 1 50%;
  max-width: calc(50% - 4px);
}