@keyframes fade-up-3645b5bb {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-3645b5bb {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.skeleton-wrapper[data-v-3645b5bb] {
  position: relative;
  width: 100%;
  height: 100%;
}
.skeleton-wrapper img[data-v-3645b5bb] {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  object-fit: cover;
  overflow: hidden;
}
.skeleton-wrapper[data-v-3645b5bb]::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, var(--gray-20) 25%, var(--white-500) 37%, var(--gray-20) 63%);
  background-size: 400% 100%;
  animation: loadingShimmer-3645b5bb 4s ease infinite;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}
@keyframes loadingShimmer-3645b5bb {
0% {
    background-position: 200% 0;
}
100% {
    background-position: -200% 0;
}
}
.skeleton-wrapper.loaded img[data-v-3645b5bb] {
  opacity: 1;
}
.skeleton-wrapper.loaded[data-v-3645b5bb]::after {
  display: none;
}
.wathermark[data-v-3645b5bb] {
  position: relative;
  overflow: hidden;
}
.wathermark img[data-v-3645b5bb] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wathermark span[data-v-3645b5bb] {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 0px 30px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: 0px 30px;
  backdrop-filter: blur(4px);
  background: var(--dark-20);
  transition: all 0.4s;
  pointer-events: none;
}
.wathermark.genres span[data-v-3645b5bb] {
  mask-image: url("data:image/svg+xml;utf8,<svg viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M0,100 L0,60 C30,70 60,20 100,10 L100,100 Z' fill=\"white\"/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M0,100 L0,60 C30,70 60,20 100,10 L100,100 Z' fill=\"white\"/></svg>");
}
.wathermark.categories span[data-v-3645b5bb] {
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,100 L0,55 C25,65 55,25 100,15 L100,100 Z" fill="white"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,100 L0,55 C25,65 55,25 100,15 L100,100 Z" fill="white"/></svg>');
}
.wathermark.moods span[data-v-3645b5bb] {
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,100 L0,50 C20,80 80,20 100,40 L100,100 Z" fill="white"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,100 L0,50 C20,80 80,20 100,40 L100,100 Z" fill="white"/></svg>');
}
.wathermark.playlists span[data-v-3645b5bb] {
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M100,100 L100,55 C75,65 45,25 0,15 L0,100 Z" fill="white"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M100,100 L100,55 C75,65 45,25 0,15 L0,100 Z" fill="white"/></svg>');
}
.wathermark label[data-v-3645b5bb] {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font: var(--font-body-1);
  color: var(--white-500);
  text-align: right;
  pointer-events: none;
  text-shadow: 0px 0px 3px var(--dark-500);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: end;
  align-items: end;
}
.wathermark:hover span[data-v-3645b5bb] {
  backdrop-filter: blur(8px);
}