@keyframes fade-up-c07188cc {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c07188cc {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.detail-item[data-v-c07188cc] {
  position: relative;
  width: 100%;
}
.detail-item .background[data-v-c07188cc] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.detail-item .box[data-v-c07188cc] {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.detail-item .preview[data-v-c07188cc] {
  position: relative;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.detail-item .preview .more-button[data-v-c07188cc] {
  position: absolute;
  top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px));
  right: 2px;
}
.detail-item .preview .wrapper[data-v-c07188cc] {
  position: absolute;
  inset: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  pointer-events: auto;
  gap: 16px;
}
.detail-item .detail[data-v-c07188cc] {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--white-500);
  position: relative;
  padding: 16px 0;
  gap: var(--block-gap);
}
.detail-item .detail[data-v-c07188cc]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  transform: translateY(-100%);
  background: linear-gradient(to bottom, var(--white-0) 0%, var(--white-500) 100%);
  pointer-events: none;
}