@keyframes fade-up-7a5d318a {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-7a5d318a {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.detail-item[data-v-7a5d318a] {
  position: relative;
  width: 100%;
}
.detail-item .background[data-v-7a5d318a] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.detail-item .box[data-v-7a5d318a] {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.detail-item .preview[data-v-7a5d318a] {
  position: relative;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.detail-item .preview .wrapper[data-v-7a5d318a] {
  position: absolute;
  inset: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  pointer-events: auto;
  gap: 16px;
}
.detail-item .detail[data-v-7a5d318a] {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--white-500);
  position: relative;
  padding: 16px 0;
}
.detail-item .detail[data-v-7a5d318a]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  transform: translateY(-100%);
  background: linear-gradient(to bottom, var(--white-0) 0%, var(--white-500) 100%);
  pointer-events: none;
}