@keyframes fade-up-7275a8ce {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-7275a8ce {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.description[data-v-7275a8ce] {
  text-align: center;
  font: var(--font-body-1);
  color: var(--dark-500);
}
.box[data-v-7275a8ce] {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.canvas-box[data-v-7275a8ce] {
  width: 204px;
  height: 204px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-shrink: 0;
}
.canvas-box canvas[data-v-7275a8ce] {
  width: 204px;
  height: 204px;
  border-radius: 10px;
  border: solid 1px var(--primary-500);
}
.buttons[data-v-7275a8ce] {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 204px;
  gap: 8px;
  align-items: center;
  justify-content: end;
  flex: 1 1 100%;
}
.buttons button[data-v-7275a8ce] {
  width: 100%;
  flex: 1 1 50%;
}