@keyframes fade-up-b2487fdb {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-b2487fdb {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.gallery-wrapper[data-v-b2487fdb] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
}
.gallery-wrapper .slides[data-v-b2487fdb] {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease;
  min-height: 100vh;
}
.gallery-wrapper .slides .slide[data-v-b2487fdb] {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gallery-wrapper .slides .slide .zoom-container[data-v-b2487fdb] {
  touch-action: none;
  will-change: transform;
  transition: transform 0.1s ease;
}
.gallery-wrapper .slides .slide .zoom-container.loading[data-v-b2487fdb] {
  min-width: 100%;
  min-height: 100%;
}
.gallery-wrapper .slides .slide .zoom-container img[data-v-b2487fdb] {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  pointer-events: none;
}
.gallery-wrapper .slides .slide .zoom-container .opacity-mode[data-v-b2487fdb] {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25%;
  height: auto;
}
.fade-enter-from[data-v-b2487fdb], .fade-leave-to[data-v-b2487fdb] {
  opacity: 0;
}
.fade-enter-to[data-v-b2487fdb], .fade-leave-from[data-v-b2487fdb] {
  opacity: 1;
}
.fade-enter-active[data-v-b2487fdb], .fade-leave-active[data-v-b2487fdb] {
  transition: opacity 0.4s ease;
}