@keyframes fade-up-20827ff2 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-20827ff2 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-20827ff2] {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
  padding: 20px 0;
}
.box .gallery[data-v-20827ff2] {
  position: relative;
}
.box .gallery .buttons[data-v-20827ff2] {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.box .description[data-v-20827ff2] {
  font: var(--font-body-2);
  color: var(--dark-500);
  white-space: pre-wrap;
}
.box .links[data-v-20827ff2] {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}
.box .links ul[data-v-20827ff2] {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.box .links ul li[data-v-20827ff2] {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  width: 100%;
}
.box .links ul li svg[data-v-20827ff2] {
  width: 38px;
  height: 38px;
  fill: var(--dark-500);
  flex-shrink: 0;
}
.box .links ul li div[data-v-20827ff2] {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.box .links ul li div .name[data-v-20827ff2] {
  font: var(--font-body-1);
  color: var(--dark-500);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box .links ul li div .name[data-v-20827ff2]::first-letter {
  text-transform: uppercase;
}
.box .links ul li div .url[data-v-20827ff2] {
  font: var(--font-caption);
  color: var(--gray-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  max-width: 200px;
}