@keyframes fade-up-04011cd1 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-04011cd1 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
ul[data-v-04011cd1] {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
ul li[data-v-04011cd1] {
  height: 4px;
  width: 4px;
  display: flex;
  flex-shrink: 0;
  transition: all 0.4s;
  background: var(--dark-80);
  border-radius: 5px;
}
ul li.active[data-v-04011cd1] {
  width: 40px;
  background: var(--gradient-2);
}@keyframes fade-up-179a1bcb {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-179a1bcb {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.welcome-box[data-v-179a1bcb] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--white-500);
  animation: fade-center-179a1bcb 0.4s forwards;
}
.welcome-box > div[data-v-179a1bcb] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: var(--white-500);
  background-size: cover;
  background-position: right bottom;
  padding: 100px 20px 40px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  animation: fadeIn-179a1bcb 0.2s forwards;
}
.welcome-box > div[data-v-179a1bcb]:last-child:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, var(--white-500) 95%, var(--white-500) 100%);
  pointer-events: none;
}
.welcome-box > div .title[data-v-179a1bcb] {
  font: var(--font-h4);
  font-weight: bold;
  color: var(--dark-500);
}
.welcome-box > div .description[data-v-179a1bcb] {
  font: var(--font-body-1);
  color: var(--dark-500);
  text-shadow: 0 0 8px var(--white-500);
}
.welcome-box > div > ul[data-v-179a1bcb] {
  margin: auto auto 0;
  z-index: 1;
}
.welcome-box > div > button[data-v-179a1bcb] {
  border-radius: 50%;
}
.welcome-box > div .enter-box[data-v-179a1bcb] {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  flex: 1 1;
  gap: 10px;
}
.welcome-box > div .enter-box div[data-v-179a1bcb] {
  margin-top: auto;
  display: inline;
}
.welcome-box > div .enter-box div span[data-v-179a1bcb] {
  font: var(--font-caption);
  color: var(--dark-500);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.welcome-box > div .enter-box button[data-v-179a1bcb] {
  width: 100%;
  flex-shrink: 0;
}
.welcome-box > div.last-child .title[data-v-179a1bcb],
.welcome-box > div.last-child .description[data-v-179a1bcb] {
  opacity: 0;
}
@keyframes fadeIn-179a1bcb {
to {
    opacity: 1;
}
}