@keyframes fade-up-076609c9 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-076609c9 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.dicts[data-v-076609c9] {
  padding: 0 0 var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  justify-content: start;
}
.dicts > div[data-v-076609c9] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}@keyframes fade-up-49879a7e {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-49879a7e {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-49879a7e] {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: var(--block-gap) 0;
}
.box .gallery[data-v-49879a7e] {
  position: relative;
}
.box .gallery .buttons[data-v-49879a7e] {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.box .static-params[data-v-49879a7e] {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box .static-params li[data-v-49879a7e] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}
.box .static-params li span[data-v-49879a7e] {
  flex-shrink: 0;
  font: var(--font-body-2);
  color: var(--dark-500);
}
.box .static-params li i[data-v-49879a7e] {
  flex: 1;
  border-bottom: dashed 1px var(--dark-20);
}
.box .static-params li label[data-v-49879a7e] {
  flex-shrink: 0;
  font: var(--font-caption);
  color: var(--dark-80);
}