@keyframes fade-up-bc9ec444 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-bc9ec444 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.merge-accounts-box[data-v-bc9ec444] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--white-500);
  animation: fade-center-bc9ec444 0.4s forwards;
}
.merge-accounts-box > div[data-v-bc9ec444] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: var(--white-500);
  background-size: cover;
  background-position: right bottom;
  padding: 100px 20px 40px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  animation: fadeIn-bc9ec444 0.2s forwards;
}
.merge-accounts-box > div[data-v-bc9ec444]:last-child:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, var(--white-500) 95%, var(--white-500) 100%);
  pointer-events: none;
}
.merge-accounts-box > div .title[data-v-bc9ec444] {
  font: var(--font-h4);
  font-weight: bold;
  color: var(--dark-500);
}
.merge-accounts-box > div .description[data-v-bc9ec444] {
  font: var(--font-body-1);
  color: var(--dark-500);
  text-shadow: 0 0 8px var(--white-500);
}
.merge-accounts-box > div .code[data-v-bc9ec444] {
  font: var(--font-h3);
  color: var(--dark-500);
  text-shadow: 0 0 8px var(--white-500);
}
.merge-accounts-box > div .instruction[data-v-bc9ec444] {
  font: var(--font-body-1);
  color: var(--dark-500);
  text-shadow: 0 0 8px var(--white-500);
}
.merge-accounts-box > div .warning[data-v-bc9ec444] {
  font: var(--font-body-1);
  color: var(--secondary-500);
  text-shadow: 0 0 8px var(--white-500);
}
.merge-accounts-box > div > ul[data-v-bc9ec444] {
  margin: auto auto 0;
  z-index: 1;
}
.merge-accounts-box > div > button[data-v-bc9ec444] {
  border-radius: 50%;
}
.merge-accounts-box > div .enter-box[data-v-bc9ec444] {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  flex: 0;
  gap: 10px;
}
.merge-accounts-box > div .enter-box button[data-v-bc9ec444] {
  width: 100%;
  flex-shrink: 0;
}
.merge-accounts-box > div.last-child .title[data-v-bc9ec444],
.merge-accounts-box > div.last-child .description[data-v-bc9ec444] {
  opacity: 0;
}
@keyframes fadeIn-bc9ec444 {
to {
    opacity: 1;
}
}