@keyframes fade-up-f3bb3ff3 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-f3bb3ff3 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.swipe-wrapper[data-v-f3bb3ff3] {
  position: relative;
  overflow: hidden;
  flex: 1;
}
.swipe-wrapper .actions[data-v-f3bb3ff3] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  transition: background 0.4s ease, opacity 0.4s ease;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.4;
}
.swipe-wrapper .actions > li[data-v-f3bb3ff3] {
  width: 80px;
  min-width: 80px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.swipe-wrapper .actions > li svg[data-v-f3bb3ff3] {
  width: 16px;
  height: 16px;
  fill: var(--dark-80);
}
.swipe-wrapper .actions > li > span[data-v-f3bb3ff3] {
  font: var(--font-caption);
  color: var(--dark-500);
  text-align: center;
}
.swipe-wrapper .actions.active[data-v-f3bb3ff3] {
  opacity: 1;
}
.swipe-content[data-v-f3bb3ff3] {
  position: relative;
  z-index: 1;
  will-change: transform;
  display: flex;
}
.direction-rtl .swipe-wrapper .actions[data-v-f3bb3ff3] {
  right: auto;
  left: 0;
}@keyframes fade-up-16ea041d {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-16ea041d {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items[data-v-16ea041d] {
  display: flex;
  margin: 0;
  padding: 12px 0 50px;
  list-style: none;
  flex-direction: column;
  min-width: calc(100% + 40px);
  margin: -20px;
}
.items li[data-v-16ea041d] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 0;
}
.items li .track-box[data-v-16ea041d] {
  padding: 8px 8px 8px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.items li > span[data-v-16ea041d] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items li.active[data-v-16ea041d] {
  background: var(--light-20);
}
.items li.active > span[data-v-16ea041d] {
  font-weight: bold;
}
.items li .sort-button[data-v-16ea041d] {
  cursor: grab;
  fill: var(--white-500);
  touch-action: none;
}
.items li.opened[data-v-16ea041d] {
  background: var(--white-80);
}
.items li[data-v-16ea041d]:hover {
  background: var(--light-10);
}
.items li:hover > span[data-v-16ea041d] {
  font-weight: bold;
}
.footer[data-v-16ea041d] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 0 8px 8px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  background: var(--white-500);
}
.footer[data-v-16ea041d]:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  min-height: 20px;
  background: linear-gradient(0deg, var(--white-500) 0%, transparent 100%);
  display: block;
  z-index: 1;
}
.loader[data-v-16ea041d] {
  margin: auto;
  flex-shrink: 0;
}
button[data-v-16ea041d] {
  flex-shrink: 0;
}