@keyframes fade-up-e0ecf9b1 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-e0ecf9b1 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items[data-v-e0ecf9b1] {
  display: flex;
  margin: 0;
  padding: 12px 0 50px;
  list-style: none;
  flex-direction: column;
  min-width: calc(100% + 40px);
  margin: -20px;
}
.items li[data-v-e0ecf9b1] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 8px 24px;
  gap: 8px;
}
.items li > span[data-v-e0ecf9b1] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items li.active[data-v-e0ecf9b1] {
  background: var(--light-20);
}
.items li.active > span[data-v-e0ecf9b1] {
  font-weight: bold;
}
.items li .sort-button[data-v-e0ecf9b1] {
  cursor: grab;
  fill: var(--white-500);
  touch-action: none;
}
.items li.opened[data-v-e0ecf9b1] {
  background: var(--white-80);
}
.items li[data-v-e0ecf9b1]:hover {
  background: var(--light-10);
}
.items li:hover > span[data-v-e0ecf9b1] {
  font-weight: bold;
}
.footer[data-v-e0ecf9b1] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 0 8px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  background: var(--white-500);
}
.footer[data-v-e0ecf9b1]:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  min-height: 20px;
  background: linear-gradient(0deg, var(--white-500) 0%, transparent 100%);
  display: block;
  z-index: 1;
}
.loader[data-v-e0ecf9b1] {
  margin: auto;
  flex-shrink: 0;
}
button[data-v-e0ecf9b1] {
  flex-shrink: 0;
}