@keyframes fade-up {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.modal-edit-firstname {
  max-width: 420px;
}@keyframes fade-up-b89ed420 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-b89ed420 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.modal-edit-firstname[data-v-b89ed420] {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons[data-v-b89ed420] {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: end;
}