@keyframes fade-up-a7594f85 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-a7594f85 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.widget-preview[data-v-a7594f85] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  overflow: hidden;
}
.widget-preview > div[data-v-a7594f85]:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.widget-preview > div:first-child .cover[data-v-a7594f85] {
  width: 128px;
  height: 128px;
  position: relative;
}
.widget-preview > div:first-child .cover .skeleton-wrapper[data-v-a7594f85],
.widget-preview > div:first-child .cover img[data-v-a7594f85] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}
.widget-preview > div:first-child .cover.disabled[data-v-a7594f85] {
  filter: grayscale(1);
}
.widget-preview > div:first-child .cover.disabled .skeleton-wrapper[data-v-a7594f85],
.widget-preview > div:first-child .cover.disabled img[data-v-a7594f85] {
  cursor: default;
}
.widget-preview > div[data-v-a7594f85]:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-width: 0;
}
.widget-preview > div:nth-child(2) > div[data-v-a7594f85] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  min-width: 0;
}
.widget-preview > div:nth-child(2) > div[data-v-a7594f85]:first-child {
  flex-wrap: nowrap;
}
.widget-preview > div:nth-child(2) > div[data-v-a7594f85]:last-child {
  flex-direction: column;
  width: 100%;
}
.widget-preview > div:nth-child(2) > div:last-child span[data-v-a7594f85] {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.widget-preview > div:nth-child(2) > div .name[data-v-a7594f85] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.widget-preview > div[data-v-a7594f85]:nth-child(3) {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.widget-preview.light > div:first-child .cover[data-v-a7594f85] {
  width: 96px;
  height: 96px;
}
.widget-preview.light > div:nth-child(2) > div .name[data-v-a7594f85] {
  font: var(--font-body-2);
}
.widget-preview.disabled[data-v-a7594f85] {
  opacity: 0.4;
  filter: grayscale(1);
  cursor: default;
}
.widget-preview.row[data-v-a7594f85] {
  gap: 12px;
  flex-direction: row;
}
.widget-preview.row > div:first-child .cover[data-v-a7594f85] {
  width: 80px;
  height: 80px;
}
.widget-preview.row > div:nth-child(2) > div[data-v-a7594f85]:last-child {
  align-items: start;
}
.widget-preview.row.light[data-v-a7594f85] {
  align-items: center;
}
.widget-preview.row.light > div:first-child .cover[data-v-a7594f85] {
  width: 48px;
  height: 48px;
}
.widget-preview.row.light > div[data-v-a7594f85]:nth-child(2) {
  gap: 4px;
}
.widget-preview.row.light > div:nth-child(2) .name[data-v-a7594f85] {
  font: var(--font-body-1);
}
.widget-preview.row.light > div:nth-child(2) > div[data-v-a7594f85]:nth-child(3) {
  display: none;
}
.widget-preview.invert > div:nth-child(2) > div .name[data-v-a7594f85] {
  color: var(--white-500);
}
.widget-preview.skeleton > div:nth-child(2) > div[data-v-a7594f85] {
  position: relative !important;
  color: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, var(--gray-20) 25%, var(--white-500) 37%, var(--gray-20) 63%);
  background-size: 400% 100%;
  animation: loadingShimmer-a7594f85 4s ease infinite;
  right: 0;
  bottom: 0;
}
@keyframes loadingShimmer-a7594f85 {
0% {
    background-position: 200% 0;
}
100% {
    background-position: -200% 0;
}
}
.widget-preview.skeleton > div:nth-child(2) > div[data-v-a7594f85]:nth-child(1) {
  max-width: 120px;
}
.widget-preview.skeleton > div:nth-child(2) > div:nth-child(1) .name[data-v-a7594f85] {
  opacity: 0;
}
.widget-preview.skeleton > div:nth-child(2) > div[data-v-a7594f85]:nth-child(2) {
  max-width: 60px;
}
.widget-preview.skeleton > div:nth-child(2) > div:nth-child(2) button[data-v-a7594f85] {
  opacity: 0;
}@keyframes fade-up-4b219446 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-4b219446 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
span[data-v-4b219446] {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: var(--dark-500) !important;
  color: var(--white-500) !important;
  font: var(--font-label) !important;
  border-radius: 50%;
}@keyframes fade-up-27d19797 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-27d19797 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.menu[data-v-27d19797] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li[data-v-27d19797] {
  font: var(--font-h7);
  color: var(--dark-80);
  cursor: pointer;
  padding: 8px 8px;
  transition: all 0.4s;
  position: relative;
  transition: all 0.4s;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.menu li[data-v-27d19797]:after {
  content: "";
  height: 2px;
  width: 16px;
  background: transparent;
  transition: background 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.menu li.total[data-v-27d19797]:after {
  transform: translateX(calc(-50% - 10px));
}
.menu li[data-v-27d19797]:first-child {
  padding-left: 0;
}
.menu li[data-v-27d19797]:first-child:after {
  left: calc(50% - 4px);
}
.menu li[data-v-27d19797]:last-child {
  padding-right: 0;
}
.menu li[data-v-27d19797]:last-child:after {
  left: calc(50% + 4px);
}
.menu li[data-v-27d19797]:last-child:first-child:after {
  left: 50%;
}
.menu li[data-v-27d19797]:hover {
  color: var(--dark-80);
}
.menu li[data-v-27d19797]:hover:after {
  background-color: var(--dark-20);
}
.menu li.active[data-v-27d19797] {
  position: relative;
  color: var(--dark-500);
}
.menu li.active[data-v-27d19797]:after {
  background: var(--dark-500);
}
.menu.minimal li[data-v-27d19797]:after {
  display: none;
}
.menu.invert li[data-v-27d19797] {
  font: var(--font-body-1);
  color: var(--white-80);
}
.menu.invert li[data-v-27d19797]:hover {
  color: var(--white-80);
}
.menu.invert li[data-v-27d19797]:hover:after {
  background-color: var(--white-20);
}
.menu.invert li.active[data-v-27d19797] {
  position: relative;
  color: var(--white-500);
}
.menu.invert li.active[data-v-27d19797]:after {
  background: var(--white-500);
}@keyframes fade-up-a5569454 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-a5569454 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.head[data-v-a5569454] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 2px 0 16px;
  height: 50px;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 32px;
}
.head .title[data-v-a5569454] {
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  padding: 0;
  margin-bottom: 0;
  margin-top: 2px;
}
.head ul[data-v-a5569454] {
  margin: 0 auto;
}
.empty-block[data-v-a5569454] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.empty-block .empty[data-v-a5569454] {
  margin: 0;
}
.empty-logo[data-v-a5569454] {
  position: relative;
  animation: jump-a5569454 3s infinite;
  width: 133px;
  flex-shrink: 0;
}
@keyframes jump-a5569454 {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-6px);
}
60% {
    transform: translateY(-3px);
}
}
.empty-logo img[data-v-a5569454] {
  height: 200px;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.empty-logo img.loading[data-v-a5569454] {
  transform: scale(0);
  opacity: 0;
}
.empty-logo img[data-v-a5569454]:nth-child(1) {
  filter: drop-shadow(0 0 4px var(--color--option-5));
}
.empty-logo img[data-v-a5569454]:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: invert(1) brightness(4334);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  animation: sunshine-gradient-0-a5569454 3s linear infinite;
}
@keyframes sunshine-gradient-0-a5569454 {
0% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
74% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
75% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
}
76% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgb(0, 0, 0) 14%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 100%);
}
77% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8%, rgb(0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 100%);
}
78% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12%, rgb(0, 0, 0) 22%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 100%);
}
79% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgb(0, 0, 0) 26%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 100%);
}
80% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
}
81% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, rgb(0, 0, 0) 34%, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0) 100%);
}
82% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgb(0, 0, 0) 38%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0) 100%);
}
83% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgb(0, 0, 0) 42%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0) 100%);
}
84% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgb(0, 0, 0) 46%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 100%);
}
85% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}
86% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 44%, rgb(0, 0, 0) 54%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0) 100%);
}
87% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgb(0, 0, 0) 58%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
}
88% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgb(0, 0, 0) 62%, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 0) 100%);
}
89% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56%, rgb(0, 0, 0) 66%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0) 100%);
}
90% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
91% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, rgb(0, 0, 0) 74%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 0) 100%);
}
92% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68%, rgb(0, 0, 0) 78%, rgba(0, 0, 0, 0) 88%, rgba(0, 0, 0, 0) 100%);
}
93% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, rgb(0, 0, 0) 82%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
}
94% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgb(0, 0, 0) 86%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
}
95% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}
96% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 84%, rgb(0, 0, 0) 94%, rgba(0, 0, 0, 0) 104%, rgba(0, 0, 0, 0) 100%);
}
97% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 88%, rgb(0, 0, 0) 98%, rgba(0, 0, 0, 0) 108%, rgba(0, 0, 0, 0) 100%);
}
98% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 92%, rgb(0, 0, 0) 102%, rgba(0, 0, 0, 0) 112%, rgba(0, 0, 0, 0) 100%);
}
99% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 96%, rgb(0, 0, 0) 106%, rgba(0, 0, 0, 0) 116%, rgba(0, 0, 0, 0) 100%);
}
100% {
    -webkit-mask-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgb(0, 0, 0) 110%, rgba(0, 0, 0, 0) 120%, rgba(0, 0, 0, 0) 100%);
}
}