@keyframes fade-up-dc0ad0a6 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-dc0ad0a6 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.artist-preview[data-v-dc0ad0a6] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  overflow: hidden;
}
.artist-preview > div[data-v-dc0ad0a6]:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.artist-preview > div:first-child .profile-image[data-v-dc0ad0a6] {
  width: 146px;
  height: 146px;
  position: relative;
}
.artist-preview > div:first-child .profile-image .skeleton-wrapper[data-v-dc0ad0a6],
.artist-preview > div:first-child .profile-image img[data-v-dc0ad0a6] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}
.artist-preview > div:first-child .profile-image .audio-toggle[data-v-dc0ad0a6] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.artist-preview > div:first-child .profile-image.disabled[data-v-dc0ad0a6] {
  filter: grayscale(1);
}
.artist-preview > div:first-child .profile-image.disabled .skeleton-wrapper[data-v-dc0ad0a6],
.artist-preview > div:first-child .profile-image.disabled img[data-v-dc0ad0a6] {
  cursor: default;
}
.artist-preview > div:first-child .state[data-v-dc0ad0a6] {
  position: absolute;
  right: 8px;
  top: 8px;
}
.artist-preview > div[data-v-dc0ad0a6]:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-width: 0;
}
.artist-preview > div:nth-child(2) > div[data-v-dc0ad0a6] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  min-width: 0;
}
.artist-preview > div:nth-child(2) > div[data-v-dc0ad0a6]:first-child {
  flex-wrap: nowrap;
}
.artist-preview > div:nth-child(2) > div .name[data-v-dc0ad0a6] {
  font: var(--font-body-1);
  color: var(--dark-500);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artist-preview > div:nth-child(2) > div .name.full[data-v-dc0ad0a6] {
  flex-shrink: 0;
}
.artist-preview > div:nth-child(2) > div .state[data-v-dc0ad0a6] {
  margin-left: 4px;
}
.artist-preview > div.chevron[data-v-dc0ad0a6] {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.artist-preview > div.chevron svg[data-v-dc0ad0a6] {
  width: 18px;
  height: 18px;
  fill: var(--dark-500);
}
.artist-preview.disabled[data-v-dc0ad0a6] {
  opacity: 0.4;
  filter: grayscale(1);
  cursor: default;
}
.artist-preview.row[data-v-dc0ad0a6] {
  gap: 12px;
  flex-direction: row;
}
.artist-preview.row > div:first-child .profile-image[data-v-dc0ad0a6] {
  width: 46px;
  height: 46px;
}
.artist-preview.row > div[data-v-dc0ad0a6]:nth-child(2) {
  justify-content: center;
}
.artist-preview.row > div:nth-child(2) > div[data-v-dc0ad0a6]:last-child {
  align-items: start;
}
.artist-preview.invert > div:nth-child(2) > div .title[data-v-dc0ad0a6] {
  color: var(--white-500);
}@keyframes fade-up-7c15cf68 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-7c15cf68 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-7c15cf68] {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-7c15cf68] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-track, .items-list[data-v-7c15cf68]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-7c15cf68]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .items[data-v-7c15cf68] {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-7c15cf68] {
  padding: 0 16px;
}
.items-list .loader[data-v-7c15cf68] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-7c15cf68] {
  flex-shrink: 0;
}@keyframes fade-up-570c79a0 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-570c79a0 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.head[data-v-570c79a0] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 2px 0 16px;
  height: 50px;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
}
.head .title[data-v-570c79a0] {
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  padding: 0;
  margin-bottom: 0;
  margin-top: 2px;
}
.empty-label[data-v-570c79a0] {
  padding: 0 20px;
}