@keyframes fade-up-d93ca07b {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-d93ca07b {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.title[data-v-d93ca07b] {
  font: var(--font-h4);
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.buttons[data-v-d93ca07b] {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.editorial-logo[data-v-d93ca07b] {
  position: absolute;
  left: 32px;
  top: 24px;
  width: 100px;
  height: 100px;
  opacity: 0.6;
}
.editorial-logo svg[data-v-d93ca07b] {
  display: block;
  fill: var(--light-80);
}
.editorial-logo svg[data-v-d93ca07b] {
  width: 100%;
  height: 100%;
}
.editorial-logo svg[data-v-d93ca07b]:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: brightness(9999);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  animation: sunshine-gradient-0-d93ca07b 3s linear infinite;
}
@keyframes sunshine-gradient-0-d93ca07b {
0% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
74% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
75% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
}
76% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgb(0, 0, 0) 14%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 100%);
}
77% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8%, rgb(0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 100%);
}
78% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12%, rgb(0, 0, 0) 22%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 100%);
}
79% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16%, rgb(0, 0, 0) 26%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 100%);
}
80% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%);
}
81% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24%, rgb(0, 0, 0) 34%, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0) 100%);
}
82% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgb(0, 0, 0) 38%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0) 100%);
}
83% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgb(0, 0, 0) 42%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0) 100%);
}
84% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgb(0, 0, 0) 46%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 100%);
}
85% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}
86% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 44%, rgb(0, 0, 0) 54%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0) 100%);
}
87% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgb(0, 0, 0) 58%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
}
88% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgb(0, 0, 0) 62%, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 0) 100%);
}
89% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56%, rgb(0, 0, 0) 66%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0) 100%);
}
90% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
91% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, rgb(0, 0, 0) 74%, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 0) 100%);
}
92% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 68%, rgb(0, 0, 0) 78%, rgba(0, 0, 0, 0) 88%, rgba(0, 0, 0, 0) 100%);
}
93% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, rgb(0, 0, 0) 82%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
}
94% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgb(0, 0, 0) 86%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
}
95% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}
96% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 84%, rgb(0, 0, 0) 94%, rgba(0, 0, 0, 0) 104%, rgba(0, 0, 0, 0) 100%);
}
97% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 88%, rgb(0, 0, 0) 98%, rgba(0, 0, 0, 0) 108%, rgba(0, 0, 0, 0) 100%);
}
98% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 92%, rgb(0, 0, 0) 102%, rgba(0, 0, 0, 0) 112%, rgba(0, 0, 0, 0) 100%);
}
99% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 96%, rgb(0, 0, 0) 106%, rgba(0, 0, 0, 0) 116%, rgba(0, 0, 0, 0) 100%);
}
100% {
    -webkit-mask-image: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgb(0, 0, 0) 110%, rgba(0, 0, 0, 0) 120%, rgba(0, 0, 0, 0) 100%);
}
}