@keyframes fade-up-aa011269 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-aa011269 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-aa011269] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  gap: 24px;
}
.hashtag[data-v-aa011269] {
  font: var(--font-h3);
  text-align: center;
}
.empty[data-v-aa011269] {
  margin: 0;
}