@keyframes fade-up-f82920de {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-f82920de {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.title[data-v-f82920de] {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.title[data-v-f82920de]::-webkit-scrollbar {
  display: none;
}
.title .skeleton-wrapper[data-v-f82920de] {
  overflow: hidden;
}
.title .title-text[data-v-f82920de] {
  font: var(--font-h6);
  font-weight: bold;
  color: var(--dark-500);
  flex-shrink: 0;
  margin-right: 12px;
}
.title .menu[data-v-f82920de] {
  flex-shrink: 0;
}@keyframes fade-up-77f805be {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-77f805be {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.block[data-v-77f805be] {
  padding: 0 0 var(--block-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  justify-content: start;
}
.block .title[data-v-77f805be] {
  padding: 0 16px;
}
.block .slide[data-v-77f805be] {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.block .slide img[data-v-77f805be] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.8) blur(3px);
}
.block .slide .skeleton[data-v-77f805be] {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, var(--gray-20) 25%, var(--white-500) 37%, var(--gray-20) 63%);
  background-size: 400% 100%;
  animation: loadingShimmer-77f805be 4s ease infinite;
  right: 0;
  bottom: 0;
}
@keyframes loadingShimmer-77f805be {
0% {
    background-position: 200% 0;
}
100% {
    background-position: -200% 0;
}
}
.block .slide .name[data-v-77f805be] {
  position: relative;
  z-index: 1;
  font: var(--font-h5);
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.block .slider-box[data-v-77f805be] {
  width: 100%;
  overflow: hidden;
}
.block .slider-box .slider[data-v-77f805be] {
  padding: 0px 16px;
  scroll-padding-left: 16px;
  scroll-padding-right: 16px;
}